*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Verdana, Tahoma, sans-serif;
}
h1 {
    font-size: 22px;
}
.header{
    padding: 20px 10px;
    display: flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 .5rem .5rem rgb(0,0,0,.3);
    background-color: #ccd6db;
}
.header .topnav{
    font-size: 14px;
    margin-left: 20px;
}
.header .topnav a{
    padding-right: 10px;
}
.main-pic img{
    width: 100%;
}
.about-text{
    position: absolute;
    padding: 50px;
    top: 200px;
    font-size: 20px;
    text-align: justify;
}
.about img{
    opacity: 50%;
    width: 100%;
    position: relative;
}
.galleryPage {
    min-height: 101vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.galleryPage img {
    width: 100%;
    position: relative;
}
.about{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-form{
    font-size: 1.5rem;
    background-color: antiquewhite;
    padding: 4rem;
    border-radius: 3%;
    position: absolute;
    top: 10rem;
    position: absolute;
    
}
.contact-form{
    font-size: 1.5rem;
    background-color: antiquewhite;
    padding: 4rem;
    border-radius: 3%;
    position: absolute;
    top: 10rem;
    position: absolute;
    
}

.gallery{
    display: grid;
    padding-top: 2rem;
    grid-template-columns:33% 33% 33%;

}
.gallery img{
    padding: 1rem;
    height: 90%;
}
.gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }
input{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
textarea{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
button{
    font-size: 1.2rem;
    padding: 2%;
}