*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Verdana, Tahoma, sans-serif;
}
h1 {
    font-size: 22px;
}
.header{
    padding: 20px 10px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 10px rgb(0,0,0,.3);
    background-color: #ccd6db;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
.header .topnav{
    font-size: 14px;
    margin-left: 20px;
}
.header .topnav a{
    padding-right: 10px;
}
.main-pic img{
    width: 100%;
    margin-top: 50px;
}
.about{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text{
    position: absolute;
    padding: 50px;
    top: 200px;
    font-size: 20px;
    text-align: justify;
    max-width: 1200px;
}
.about img{
    opacity: 50%;
    width: 100%;
    position: relative;
}
.contactPage img{
    opacity: 50%;
    width: 100%;
    position: relative;
}
.loginPage img{
    opacity: 50%;
    width: 100%;
    position: relative;
}
.galleryPage {
    margin-top: 50px;
    min-height: 101vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.galleryPage img {
    width: 100%;
    position: relative;
}
.bookPage {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.book-form{
    font-size: 20px;
    background-color: antiquewhite;
    padding: 35px;
    border-radius: 3%;
    position: absolute;
    top: 200px;
    width: 300px;
    height: 260px;
}
.bookPage img{
    opacity: 50%;
    width: 100%;
    position: relative;
}
.contactPage {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.contact-form{
    font-size: 20px;
    background-color: antiquewhite;
    padding: 35px;
    border-radius: 3%;
    position: absolute;
    top: 200px;
    width: 300px;
    height: 260px;
}
.loginPage{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.login-form{
    font-size: 20px;
    background-color: antiquewhite;
    padding: 35px;
    border-radius: 3%;
    position: absolute;
    top: 200px;
    width: 300px;
    height: 260px;
}
.gallery{
    display: grid;
    padding-top: 30px;
    grid-template-columns:33% 33% 33%;
}
.gallery img{
    padding: 15px;
    height: 90%;
}
.gallery img:hover {
    z-index: 9;
    transform: scale(1.3);
    transition: transform ease 0.5s;
  }
input, textarea, button{
    font-size: 18px;
    margin-bottom: 15px;
    padding: 5px;  
}
